<%- include('./layout/header')%> 
<%- include('./layout/navbar')%>

<div class="showcase">
  <h1>About <span class="showcase-span">Express Diary</span></h1>
  <p>Version 1.0.0</p>
  <a href="/" class="btn">Home</a>
</div>

<%- include('./layout/footer')%>
