<%- include('./layout/header')%> 
<%- include('./layout/navbar')%>

    <div class="add-container">
        <div class="add">
            <p>Add to Diary</p>
            <a href="/add">ADD</a>

        </div>
    </div>

<%- include('./layout/footer')%>