<%- include('./layout/header')%>

<div class="showcase">
  <h1>Welcome to <span class="showcase-span">Express Diary</span></h1>
  <p>
    Record your Daily Life. Express Diary is a simple diary app built with
    Express and MongoDB
  </p>
  <a href="/about" class="btn">View Diary</a>
</div>

<%- include('./layout/footer')%>
