<header>
    <div class="container">
        <a href="/" class="logo">Express <span class="showcase-span">Diary</span></a>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/diary">Go to Diary</a></li>
            </ul>
        </nav>
    </div>
</header>